.index-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  font-family: "Titillium Web";
  flex-direction: column;
  justify-content: flex-start;
  background-color: #20242d;
}
.index-header {
  width: 100%;
  height: 100;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-navlink {
  color: #3bdfe5;
  align-self: center;
  animation-name: backInDown;
  animation-delay: 300ms;
  text-decoration: none;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  animation-name: backInDown;
  animation-delay: 600ms;
  text-decoration: none;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text03 {
  margin-left: var(--dl-space-space-twounits);
  animation-name: backInDown;
  animation-delay: 900ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text04 {
  margin-left: var(--dl-space-space-twounits);
  animation-name: backInDown;
  animation-delay: 1200ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.index-image {
  top: 0px;
  right: 0px;
  width: 20%;
  bottom: 0px;
  position: absolute;
  align-self: stretch;
  margin-top: auto;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 25%;
  margin-bottom: auto;
}
.index-container1 {
  top: 0px;
  flex: 0;
  left: 0px;
  width: 30%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  margin-top: auto;
  align-items: flex-start;
  margin-left: 15%;
  margin-right: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
}
.index-text05 {
  font-size: 32px;
  animation-name: fadeInTopLeft;
  animation-delay: 1500ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text06 {
  font-size: 42px;
  font-family: "Concert One";
  animation-name: fadeInTopRight;
  animation-delay: 1800ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text09 {
  color: rgb(59, 223, 229);
  font-size: 32px;
  animation-name: fadeInTopLeft;
  animation-delay: 2100ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text12 {
  max-width: auto;
  text-align: justify;
  animation-name: fadeInTopRight;
  animation-delay: 2400ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text15 {
  animation-name: fadeInTopLeft;
  animation-delay: 2700ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
