.portfolio-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  font-family: "Titillium Web";
  flex-direction: column;
  background-color: #20242d;
}
.portfolio-header {
  width: 100%;
  height: 100;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.portfolio-text {
  font-family: "Titillium Web";
}
.portfolio-nav {
  top: 0px;
  right: 15%;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.portfolio-navlink {
  align-self: center;
  animation-name: backInDown;
  animation-delay: 300ms;
  text-decoration: none;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.portfolio-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  animation-name: backInDown;
  animation-delay: 600ms;
  text-decoration: none;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.portfolio-navlink2 {
  color: #3bdfe5;
  margin-left: var(--dl-space-space-twounits);
  animation-name: backInDown;
  animation-delay: 900ms;
  text-decoration: none;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.portfolio-text3 {
  margin-left: var(--dl-space-space-twounits);
  animation-name: backInDown;
  animation-delay: 1200ms;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.portfolio-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.portfolio-image {
  flex: 0;
  width: 40%;
  align-self: flex-start;
  margin-top: 4%;
  object-fit: cover;
}
.portfolio-container2 {
  gap: 20px;
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  max-width: 40%;
  align-self: flex-start;
  margin-top: 4%;
  max-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-container3 {
  flex: 0;
  width: auto;
  height: auto;
  display: flex;
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.portfolio-link {
  color: #3bdfe5;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
}
.portfolio-link1 {
  display: contents;
}
.portfolio-icon {
  fill: #3bdfe5;
  width: 3%;
  height: auto;
  text-decoration: none;
}
.portfolio-text4 {
  font-size: 24px;
}
