.nav1-nav {
  position: relative;
}
.nav1-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.nav1-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.nav1-text3 {
  margin-left: var(--dl-space-space-twounits);
}
