.nav2-nav {
  position: relative;
}
.nav2-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.nav2-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.nav2-text3 {
  margin-left: var(--dl-space-space-twounits);
}
